<div class="hero">
  <div class="navbar">
    <img src="../../assets/logo.png" class="logo">
    <a href="https://github.com/LuisFernando-hub"><button type="button" class="btn btn-white btn-animate">By Luis
        Fernando</button></a>
  </div>
  <div class="content">
    <small>Bem vindo ao</small>
    <h1>Jogo de Tarot</h1>
    <a type="button" class="btn btn-white btn-animate btn-play" href="play-game">Clique para jogar </a>
  </div>
  <div class="side-bar">
    <img src="../../assets/menu.png" class="menu">
    <div class="social-links">
      <a href="https://www.facebook.com/luislindofernando/"><img src="../../assets/fb.png"></a>
      <br>
      <a href="https://www.instagram.com/luis_mtl0/"><img src="../../assets/ig.png"></a>
    </div>
  </div>
  <div class="bubbles">
    <img src="../../assets/estrela.png">
    <img src="../../assets/estrela.png">
    <img src="../../assets/estrela.png">
    <img src="../../assets/estrela.png">
    <img src="../../assets/estrela.png">
    <img src="../../assets/estrela.png">
    <img src="../../assets/estrela.png">
  </div>
</div>
